<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{% block title %}Fichas de Malharia{% endblock %}</title>
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header class="topbar">
    <div class="container">
      <a class="brand" href="/">fichasdemalharia.com.br</a>
      <nav class="nav">
        <a href="/">Home</a>
        <a href="/busca">Buscar fichas</a>
      </nav>
    </div>
  </header>

  <main class="container">
    {% block content %}{% endblock %}
  </main>

  <footer class="footer">
    <div class="container">© {{ 2025 }} Fichas de Malharia</div>
  </footer>
</body>
</html>
